.background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: darkslateblue;
	transition: 0.3s all;
}

.spacer {
	margin-top: 10rem;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.row-title {
	color: #fff;
	font-size: 2.4rem;
	font-weight: 500;
	margin: 0;
}

.row-icon {
	display: flex;
	justify-content: center;
	position: relative;
	top: 0.25rem;
	font-size: 2.5rem;
	color: #fff;
	margin-left: 1rem;
}

.dropdown {
	position: relative;
}

.toggle {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: 6rem;
	border-radius: 0.5rem;
	background-color: #fff;
	cursor: pointer;
}

.title {
	font-size: 2.4rem;
	font-weight: 500;
	margin: 0;
}

.menu {
	position: absolute;
	left: 0;
	top: 7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	border-radius: 0.5rem;
	background-color: #fff;
	overflow: hidden;
	z-index: 999;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 4rem;
	padding: 0 1rem;
	cursor: pointer;
	background-color: #fff;
	transition: 0.2s all;
}

.item:hover {
	background-color: #ddd;
}

.item-text {
	font-size: 2rem;
}
